.container{
    width: 500px;
    height: 25vh;
    font-size: 0.8rem;
    background-color: rgb(244, 241, 241);
}
.first{
    width: 20%;
    text-align: center;
    font-weight: 550;
    line-height: 17px;
    border: 1px;

}
.first img{
    width: 40%;
    padding-top: 10px;
}

.bar{
    background-color: black;
    width: 0.3%;
    
    
}


.second{
    display: flex;
    width: 20%;
    text-align: center;
    line-height: 20px;
    
}
.second p{
    padding-top: 10px;
    margin: 20px;
}
.third{
    width: 20%;
    text-align: center;
    line-height: 20px;
}
.third p{
    padding-top: 10px;
}
.fourth{
    width: 40%;
    text-align: center;
}
.fourth h3{
    margin-top: 20px;
}
.fourth p{
    margin-top: 5px;
    line-height: 15px;
    text-align: left;
    padding: 0px 20px;
}