
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh;
  }
  
  .login-box {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 10px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3f51b5;
    border-radius: 5px;
  }
  
  .login-button {
    width: 30%;
    padding: 10px;
    background-color: #303f9f;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color:   #3f51b5;
  }
  
  .links {
    margin-top: 15px;
  }
  
  .links a {

    color: #3f51b5;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  